
 
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* font-family: Arial, sans-serif; */
      font-family: 'Segoe UI', sans-serif;
    }

    body{
      background: #f4f4f4;
    }

        /* Navbar */
      .navbar{
      width: 100%;
      background: linear-gradient(90deg, #6a11cb, #8e2de2);
      padding: 12px 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    /* Left Side Logo */
    .logo{
      color: white;
      font-size: 24px;
      font-weight: bold;
    }

    .logo span{
      color: #d8b4fe;
    }

    /* Middle Links */
    .nav-links{
      display: flex;
      gap: 30px;
      list-style: none;
    }

    .nav-links a{
      text-decoration: none;
      color: white;
      font-size: 17px;
      transition: 0.3s;
    }

    .nav-links a:hover{
      /* color: #d8b4fe; */
    }

    /* Right Buttons */
    .nav-buttons{
      display: flex;
      gap: 15px;
    }

    .btn{
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 15px;
      transition: 0.3s;
    }

    .login-btn{
      background: #6a11cb;
      color: white;
      border-radius: 30px;
      border: 1px solid white;
    }

    .login-btn:hover{
      background: #e9d5ff;
    }

    .register-btn{
     background: #6a11cb;
      color: white;
       border-radius: 30px;
       /* border: 1px solid white; */
    }

    .register-btn:hover{
      background: #a855f7;
    }



